<div class="container">
  <div class="upper-data">
    <img src="../assets/day.jpeg" alt="day" />
    <!-- <img src="../assets/night.jpeg" width="100px" alt="night" /> -->
    <div class="weather-data">
      <div class="location">City</div>
      <div class="temperature">{{ 14.4 | number : "1.0-0" }}˚C</div>
    </div>
  </div>
  <div class="lower-data">
    <div class="more-info-label">More information</div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <span class="material-symbols-outlined"> thermometer </span>
          <span>min</span>
        </div>
        <div class="info-block-value">10 ˚C</div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <span class="material-symbols-outlined"> device_thermostat </span>
          <span>max</span>
        </div>
        <div class="info-block-value">20 ˚C</div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <span class="material-symbols-outlined"> humidity_mid </span>
          <span>humidity</span>
        </div>
        <div class="info-block-value">77 %</div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <span class="material-symbols-outlined"> air </span>
          <span>wind</span>
        </div>
        <div class="info-block-value">11 km/h</div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
